<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Kodchasan|Nunito&display=swap" rel="stylesheet"> 
</head>
<body>
	<h1>{{category.name}}</h1>
	<h2>{{item.name}}</h2>
	<p>{{item.description}}</p>

	<a href='{{url_for('editItem', item=item.name, category=category.name)}}'>Edit Item</a>
	<a href='{{url_for('deleteItem', item=item.name, category=category.name)}}'>Delete Item</a></br></br>

	</br><a href = "{{url_for('catalog')}}">Back to Catalog</a>
</body>
</html>